footer{
  width:100%;
  height: auto;
  color:#fff;
  background: brown;
  text-align: center
}
footer>div{
  width:100%;
  height: 100%;
}
footer div.foot_list ul li{
  display: inline-block;
  list-style-type:none;
  text-align: center;
  padding-top:0.8em;
}
footer div.foot_list ul li a{
  color: #fff;
}
footer div.foot_list select,p:last-child{
  margin-left:30%;
}
footer div.foot_list select{
  color:#fff;
  background: brown;
  border:1px solid #fff;
  width:8%;
}