/*第四层：线上专享*/
#product{
    width:100%;
    height:900px; 
}
#product div.online{
    width:100%;
    height:900px;
    position: relative;
    background: url("../images/index-pc-bg-9.jpg") no-repeat;
    background-size:cover;      
}
#product div.online>div:first-child{
    position: absolute;
    top:10%;
    left:45%;  
}
#product div.online h1,#product div.online p{
    color:#6C2715;
    font-weight: bold;
    text-align: center;
}
#product div.online p>a{
    color:#492C20;
}
#product div.online>div.product-pic{
    width:70%;
    margin:15%;
    position: absolute;
}
#product div.online>div.product-pic>a>img{
    width:100%;
}
#product div.online>div.product-pic>a>img:hover{
    transform: scale(1.5,1.5);
    transition: all 0.5s;
    border-radius: 10px;
}